@model Post
@using Markdig

@{
    ViewData["Title"] = "Read Post";
    String html = Markdig.Markdown.ToHtml(Model.Content);
}


<div class="row text-center">
    <div class="container-sm">
        <br />
        <h1 class="display-4">@Model.Title</h1>
        <br />
        <br />
        <p>
            Author -->  @Model.Author <br />
            Last Updated On -->  @Convert.ToDateTime(Model.UpdateTime.ToString("MM/dd/yyyy HH:mm:ss.fff"),
System.Globalization.CultureInfo.InvariantCulture)
        </p>
    </div>
</div>

<hr class="border" />

<br />

<div class="container-fluid">
    <div class="mainPost card">
        <div class="text-center">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="container-fluid text-left mb-3">
                    <div class="row">
                        <div class="col-xs-6">
                            <a class="nav-link" asp-action="CreateOrEditPost" asp-controller="Post" asp-route-id="@Model.Id">Edit</a>
                        </div>
                        <div class="col-xs-6">
                            <a class="nav-link" asp-action="DeletePost" asp-controller="Post" asp-route-id="@Model.Id">Delete</a>
                        </div>
                    </div>
                </div>
            }
            <br />

            <div class="card-body">
                <article class="align-content-center">
                    <p>@Html.Raw(html)</p>
                </article>
            </div>
        </div>

    </div>
    

    <div class="metaBox container-fluid">
        <div class="card">
            <div class="card-header text-center">
                @if (Model.Category != null)
                {
                    <p> Category :  @Model.Category.Name</p>
                }
                else
                {
                    <p>Category : No category available</p>
                }
            </div>
            <div class="card-body">
                @if (Model.Tags != null && Model.Tags.Count > 0)
                {
                    @foreach (Tag tag in Model.Tags)
                    {
                        <a class="badge badge-pill" asp-controller="Tag" asp-action="ViewTag" asp-route-id="@tag.Id">  #@tag.Name  </a>
                        <p>&nbsp;&nbsp;</p>
                    }
                }
                else
                {
                    <span class="badge badge-pill">No tags</span>
                }
            </div>
        </div>
    </div>
</div>

