@model Post


<div class="container">
    <div class="card mb-3 float-left w-75">
        <div class="card-header text-center mb-3">
            <h2>@Model.Title</h2>
            <br />
            <div class="container text-right mb-3 border-white">
                <p>Author -->  @Model.Author | Last Updated On -->  @Convert.ToDateTime(Model.UpdateTime.ToString("MM/dd/yyyy HH:mm:ss.fff"),
                                                                   System.Globalization.CultureInfo.InvariantCulture)</p>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="container text-left mb-3">
                    <div class="row">
                        <div class="col-xs-6">
                            <a class="nav-link" asp-action="CreateOrEditPost" asp-controller="Post" asp-route-id="@Model.Id">Edit</a>
                        </div>
                        <div class="col-xs-6">
                            <a class="nav-link" asp-action="DeletePost" asp-controller="Post" asp-route-id="@Model.Id">Delete</a>
                        </div>
                    </div>
                </div>

            }
        </div>
        <br />
        <div class="card-body mb-3 justify-content-sm-start">
            <article class="justify-content-sm-start">
                <p>@Html.Raw(Model.Content)</p>
            </article>
        </div>
    </div>
</div>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<section class="card float-right w-25">
    <div class="card-header">
        @if (Model.Category != null)
        {
            <p> Category :  @Model.Category.Name</p>
        }
        else
        {
            <p>Category: No category available</p>
        }
    </div>
    <div class="card-body d-block">
        @if (Model.Tags != null && Model.Tags.Count > 0)
        {
            @foreach (Tag tag in Model.Tags)
            {
                <a class="badge badge-pill" asp-controller="Tag" asp-action="ViewTag" asp-route-id="@tag.Id" >  #@tag.Name  </a>
                <p>&nbsp;&nbsp;</p>
            }
        }
        else
        {
            <span class="badge badge-pill">No tags</span>
        }
    </div>
</section>